<h1>Chickens for Rent</h1>

<div class="card-container" style="card w-50">

  <% @chickens.each do |chicken| %>
  <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <strong><%=link_to "#{chicken.name}", chicken_path(chicken) %></strong>
    <%= chicken.description%>
  </div>
  </div>
  <% end %>
</div>



<%#=link_to "Add a Chicken to rent", new_chicken_path %>


<%#= link_to "#{chicken.name.capitalize}", chicken_path(chicken) %>
