<div class="navbar-lewagon" style="display: flex; justify-content: space-between;">
  <div class="sign-up btn btn-primary">
    <%= link_to "Sign up here", new_user_registration_path %>
  </div>
  <div class="user-info" style="border: solid 1px black;">
    <em><%= link_to current_user.email, chickens_path %></em>
    <div class="avatar" placeholder="#">
    </div>
  </div>


</div>
<div class="container" style="text-align: center; margin-top: 100px; background-color: white;">

  <h1 class="title" style="color: green;">CHICKENS RENTAL</h1>

  <p>Value proposition...</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis,
  repellendus! Voluptates architecto, aspernatur beatae laborum quaerat,
  praesentium minus! Labore mollitia quae, iusto in doloremque soluta nam neque
  blanditiis consectetur autem.</p>



  <ul class="card-container" style="display: flex; justify-content: center;">
    <li class="card btn btn-primary" style="margin-top: 100px; width: 100px;">
      <%= link_to "Browse chickens", chickens_path %>
    </li>
  </ul>

</div>


<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>ABOUT</p>

<p>sign up here</p>


<%= link_to  %> -->
