<div class="navbar-lewagon" style="display: flex; justify-content: space-between;">
  <div class="sign-up btn btn-danger">
    <%= link_to "Sign up here", new_user_registration_path %>
  </div>
  <div class="user-info">
<!--  ##  @user.email  -->
    <div class="avatar" placeholder="#">
    </div>
  </div>


</div>
<div class="container">

  <h1 class="title">CHICKENS RENTAL</h1>

  <p>Value proposition...</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis,
  repellendus! Voluptates architecto, aspernatur beatae laborum quaerat,
  praesentium minus! Labore mollitia quae, iusto in doloremque soluta nam neque
  blanditiis consectetur autem.</p>



  <ul class="card-container">
    <li class="card">
      ##TO DO:Browse available chickens... add link
<!--      ##  link_to "Browse available chickens...", chicken_path
 -->    </li>
  </ul>

</div>


<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>ABOUT</p>

<p>sign up here</p>


<%= link_to  %> -->
