.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    width: 122%;
}

.card-product {
  overflow: hidden;
  background-color: green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 40%;
  margin: 10px;
}

.card-product-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.card-product-bottom {
  display: flex;
  justify-content: flex-start;
  background-color: #fff3dd;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 0px;
  margin-left: 30px;
  align-content: center;
}

.card-product-infos ul {
  padding-inline-start: 0px;
}

.card-pic-rating i {
  color: #fe9502;
  font-size: 15px;
  padding: 0px;
}
.card-product {
    position: relative;
    padding: 25px 25px 20px;
    width: 40%;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}

 .card-pic-rating img {
  border-radius: 50%;
  display: block;
 }

.chicken-image {
  height: 140px;
  width: 105px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow: hidden;
  box-shadow: 2px 3px 1px black;
    img {
    object-fit: cover;
    height: 140px;
    width: 105px;
 }
}


body{
    margin-top:20px;
    background:#eee;
}
a {
    color: #f96332;
}
.m-t-5{
    margin-top: 5px;
}
.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}
.profile-page .profile-header {
    position: relative
}

.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
    margin: 0 5px
}

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

.profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242
}

