.new-booking-container {
  text-align: center;
  width: 50%;
  margin: 0px auto;
  h2 {
    margin: 24px 0px;
  }
  form {
    width: 60%;
    margin: 0px auto;
    text-align: left;
  }
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 36px 0px;
}
