.chicken-profile {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.chicken-profile-pic {
  max-height: 100%;
  max-width: 100%;
}


.chicken-pic img {
  height: 300px;
  width: 300px;
}
